page-login {
    .logo-img{
        width: 400px;
        height: 400px;
        margin:0 auto;
        display: block;
    }
    ion-list{
        width:400px;
        display: block;
        margin: 0 auto!important;
        button{
            margin-left:40%!important;
        }
    }
}
